/* Wian Kokemeoer u19043512 */
*
  {
    box-sizing: border-box;
  }
  #mainContainer
  {
    border-radius: 20px;
    background-color: white;
    opacity: 0.7;
    border: 5px solid black;
    width: 70%;
    margin: auto;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mainContainer
  {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  #mainContainer > hr
  {
    width: 100%;
  }
  #secondaryContainer
  {
    display: flex;
    align-items: flex-start;
  }
  #controls
  {
    overflow: auto;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    opacity: 1;
    border: 3px solid black;
    margin: 20px 20px 20px auto;
  }
  #controls > h2
  {
    padding: 2px 5px 2px 5px;
    background-color: rgb(170, 170, 170);
    margin: 0 auto 0 auto;
    width: 100%;
    border-bottom: 1px solid black;
  }
  #controls > hr
  {
    margin-top: 0;
    border-top: 1px solid black;
  }
  .controlButton
  {
    text-align: center;
    margin: 20px 0;
    width: 100%;
    display:block;
    border-radius: 3px;
    border: 1px solid black;
  }
  .controlButton > h2
  {
    font-family: "Times New Roman", Times, serif;
    padding: 0.5em 0;
    margin: 0;
  }
  #add
  {
    background-color: rgba(85, 207, 60,0.7);
  }
  #modify
  {
    background-color: rgba(255, 187, 0, 0.7);
  }
  #delete
  {
    background-color: rgba(255, 72, 0, 0.7);
  }
  #tableContainer
  {
    position: relative;
    border-radius: 10px !important;
    background-color: white;
    opacity: 1;
    border: 3px solid black;
    margin: 20px auto 20px auto;
    display: flex;
    overflow: auto;
    height: 560px; 
  }
  table
  {
    position:sticky;
    top: 0;
    min-width: 600px;
  }
  table h3
  {
    margin: auto;
  }
  tr:nth-child(even)
  {
    background-color: rgba(212, 212, 212,1);
  }
  tr:nth-child(odd)
  {
    background-color: rgba(247, 247, 247, 1);
  }
  table, th, td 
  {
    border-collapse: collapse;
    padding:5px;
  }

  th
  {
    padding: 0 !important;
    position: sticky;
    top:0;
    background-color: rgb(170, 170, 170);
  }
  th > h3 
  {
    padding: 5px;
    border-bottom: 1px solid black;
  }
  .mod:hover
  {
    background-color: rgba(255, 187, 0, 0.7);
  }
  .del:hover
  {
    background-color: rgba(255, 72, 0, 0.7);
  }
  #label
  {
    margin: -19px 0 1px 0;
  }
  .popup
  {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex; 
    align-content: center;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  #modForm, #delForm, #addForm
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    border-radius: 10px;
    background-color: white;
    opacity: 1;
    border: 3px solid black;
  }
  #modForm > hr, #delForm > hr, #addForm > hr 
  {
    width: 100%;
  }
  #modForm > h1, #delForm > h1, #addForm > h1
  {
    margin: 5px 20px 0 20px;
  }#modForm > h3, #delForm > h3, #addForm > h3
  {
    margin: 0;
  }
  .inputField
  {
    width: 260px;
    margin: 5px 10px;
  }
  .popup button
  {
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid black;
  }

  .popup button > h2
  {
    font-family: "Times New Roman", Times, serif !important;
    padding: 0.25em 0.5em;
    margin: 0;
  }
  .cancelButton
  {
    background-color: rgba(255, 72, 0, 0.7);
  }
  .validateButton
  {
    background-color: rgba(255, 196, 0, 0.7);
  }
  #modButton, #addButton
  {
    background-color: rgba(85, 207, 60,0.7);
  }
  .valid
  {
    outline-color: green;
    border: 2px solid green !important;
  }
  .invalid
  {
    outline-color: red;
    border: 2px solid red !important;
  }
  .popup input[type=text]
  {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;

  }
  :focus-visible
  {
    outline-style: auto;
    outline-width: 1px;
  }
  input:focus-visible
  {
    outline-offset: 0px;
  }