body{
  padding:0;
  margin:0;
  overflow: hidden;
  background-color:lightslategray;
  background-image: url("../img/wallpaperflare.com_wallpaper-2.jpg");
  background-size: cover;
  overflow-y: scroll;
}  

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgreen; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 148, 1); 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  text-align: center;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  text-align: left;
  transition: 0.3s;
  border-bottom: 1px solid white;
  letter-spacing: 1px;
}

.tournaments-btn a.active{
  color: rgb(0, 255, 119);
}

.sidenav a:hover {
  color: rgb(0, 254, 119);
}

.course-show a, .tournament-show a{
  text-decoration: none;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 5px 0px;
  font-size: 15px
}

.course-show a:hover, .tournament-show a:hover{
  color: rgb(0, 255, 119);
}

.tournament-btn a.active{
  color: rgb(0, 255, 119);
}

.course-show {
  display: none;
  text-align: center;
  list-style: none;
}

.tournament-show {
  display: none;
  list-style: none;
}

.sidenav .closebtn {
  top: 0;
  right: 20px;
  font-size: 25px;
  margin-left: 50px;
  font-weight: bold;
}

.sidenav .closebtn > a{
  border-bottom: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.loginRegister{
  float: right;
  background-color: rgb(0, 108, 32); 
  font-size: 30px;
  padding: 10px 10px;
  box-shadow: -10px 8px 10px 1px rgb(0, 255, 119);
  
}

  .loginRegister a{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
  }

  .loginRegister a:hover{
    color: black;
    background-color: #00420d;
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }

  .filterTheme{
    float: right;
    cursor: pointer;
    padding: 10px 16px;
    color: white;
    border-radius: 50px;
    margin-bottom: 5px;
  }

  .top-content{
    padding: 10px 16px;
    background-color: rgb(0, 108, 32);  
    box-shadow: 1px 8px 10px rgb(0, 255, 119);
    font-family: "Courier New", Courier, monospace;
    border: 10px dashed rgb(151, 151, 151);
  }

  .top-content > img{
    float: left;
    background-color: rgba(164,164,164, 0.7);
    border-radius: 30px;
    margin-top: 5px;
  }

  .content{
    display:none;
  }

  .loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16191e;
    position: relative;
  }
  
  .loader > div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: lawngreen;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 2s infinite linear;
  }
  @keyframes spin{
    100%{
      transform:rotate(360deg);
    }
  }
  
  .grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: transparent; */
    margin-top: 40px;
    grid-gap: 10px;
    overflow-x: hidden;
    height: 500px;
    margin-left: 20px;
    margin-right:20px;
  }

  /* .grid > div{
    text-align: center;
  } */

  hr{
    border-top: 3px solid black;
  }

  #grid-panel-1{
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    border: 5px solid black;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1; 
    text-align: center;
    background-size: cover;
    height: fit-content;
  }

  #courses{
    opacity: 1; 
    z-index: 5;
    /* text-align: left; */
    /* background-image: url('../img/courses-image.jpg'); */
    background-size: cover;
    height: 69.3%;
    margin-top: 0;
  }
  #courses-img{
    border-radius: 10px;
    border: 3px solid black;
    z-index: 2;
  }
  #courses-dark-img{
    border-radius: 10px;
    border: 3px solid black;
    display: none;
  }
  #courses-btn{
    cursor: pointer;
    /* top:100%; */
    right:0;
    left:0;
    /* bottom: 0; */
    background-color: lightgreen;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #courses-btn a{
    text-decoration: none;
    color: black;
  }
  #courses-btn:hover{
    background-color: rgb(88, 144, 88);
    font-weight: bold;
  }

  #grid-panel-2{
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    border: 5px solid black;
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    background-size: cover ;
    height: fit-content;
  }

  #tournaments{
    opacity: 1; 
    z-index: 5;
    height: 69.3%;
    margin-top: 0;
    /* position: relative; */
  }
  #tournaments-img{
    border-radius: 10px;
    border: 3px solid black;
  }
  #tournaments-dark-img{
    border-radius: 10px;
    border: 3px solid black;
    display: none;
  }
  #tournaments-btn{
    cursor: pointer;
    /* float: right; */
    z-index: 10;
    /* top:100%; */
    right:0;
    left:0;
    /* bottom: 0; */
    background-color: lightgreen;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #tournaments-btn a{
    text-decoration: none;
    color: black;
  }
  #tournaments-btn:hover{
    background-color: rgb(88, 144, 88);
    font-weight: bold;
  }

  #grid-panel-3{
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    border: 5px solid black;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    height: fit-content;
    text-align: center;
  }

  #tours{
    opacity: 1; 
    z-index: 5;
    height: 69.3%;
    margin-top: 0;
    /* position: relative; */
  }
  #tours-img{
    border-radius: 10px;
    border: 3px solid black;
  }
  #tours-dark-img{
    border-radius: 10px;
    border: 3px solid black;
    display: none;
  }
  #tours-btn{
    cursor: pointer;
    /* float: right; */
    z-index: 10;
    /* top:100%; */
    right:0;
    left:0;
    /* bottom: 0; */
    background-color: lightgreen;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #tours-btn a{
    text-decoration: none;
    color: black;
  }
  #tours-btn:hover{
    background-color: rgb(88, 144, 88);
    font-weight: bold;
  }

  #grid-panel-4{
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    border: 5px solid black;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
    height: fit-content;
  }

  #statistics{
    opacity: 1; 
    z-index: 5;
    height: 69.3%;
    margin-top: 0;
    /* position: relative; */
  }
  #statistics-img{
    border-radius: 10px;
    border: 3px solid black;
  }
  #statistics-dark-img{
    border-radius: 10px;
    border: 3px solid black;
    display: none;
  }
  #statistics-btn{
    cursor: pointer;
    /* float: right; */
    z-index: 10;
    /* top:100%; */
    right:0;
    left:0;
    /* bottom: 0; */
    background-color: lightgreen;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #statistics-btn a{
    text-decoration: none;
    color: black;
  }
  #statistics-btn:hover{
    background-color: rgb(88, 144, 88);
    font-weight: bold;
  }

  #webTitle{
    background-color: rgb(0, 108, 32);
    color: rgb(255, 255, 255);
    font-size: 80px;
    /* text-align: center; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: "Georgia" ,serif;
    margin-left:27%;
  }

  .footer{
    text-align: center;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 0%;
    top: 100%;
    width: 95%;
    color: white;
  }