body{
    background-image: url("../img/wallpaperflare.com_wallpaper-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 126%;
    margin:0;
    padding:0;
}

#main_header{
    background-color: rgb(0, 108, 32);
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    border: 10px dashed rgb(151, 151, 151);
    font-family: "Georgia" ,serif;
    opacity: 0.9;
}
#navBar{
    padding-top: 5px;
    background-color: rgb(0, 108, 32); 
    opacity: 0.9; 
    box-shadow: 1px 8px 10px rgb(0, 255, 119);
    font-family: "Courier New", Courier, monospace;
    position: relative;
}
#navBar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#navBar li{
    display: inline; 
}
#navBar a:hover{
    background-color: #00420d;
    font-weight: bold;
}
#navBar a{
    padding: 25px;
    text-decoration: none;
    color: white;
}
#navBar a.active{
    background-color: rgb(0, 255, 76);
    color: black;
    font-weight: bold;
    
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.navTabs{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.contentContainer{
    display: grid;
    grid-template-columns: 30% 65%;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    grid-gap: 40px;
}
.buttonsGrid{
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    height: 100%;
    width:100%;
    margin: 0px 0px 5px 10px;
    border-radius: 20px;
    opacity: 0.9;
    border: 4px solid black;
    padding: 5px;
}

.buttonsGrid button{
    font-size: 20pt;
    height: 50px;
    margin: 2px;
    border-radius: 20px;
    opacity: 1;
    color: black;
    word-wrap: normal;
}
.buttonsGrid button:hover{
    box-shadow: 3px 8px 15px black;
    cursor: pointer;
}
.tableGrid{
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    height: 100%;
    width:100%;
    margin: 0px 0px 5px 10px;
    border-radius: 20px;
    opacity: 0.9;
    border: 4px solid black;
    padding: 5px;
}

#createNewPlayer{
    background-color: rgb(179, 179, 0);
}
#deletePlayer{
    background-color: rgb(179, 0, 0);
}
#filterTable{
    background-color: rgb(0, 179, 3);
}
#updatePlayerData{
    background-color: rgb(0, 179, 3);
}
#pageHeader{
    background-color: black;
    opacity: 0.5;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    margin: 10px 10px 2px 10px;
}
#pageHeadings{
    opacity: 0.5;
    width: 40%;
    left: 35%;
    position: absolute;
}
#pageHeader span{
    opacity: 1;
    font-size:40pt;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
#pageHeader p{
    opacity: 1;
    font-size: 15pt;
    color: white;
}

.fullScreenPopupAdd, .fullScreenPopupDelete,
.fullScreenPopupReg, .fullScreenPopupUpdate{
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
#deletePlayerPopup, #updatePlayerPopup{
    position: fixed;
    top: 15%;
    left: 35%;
    height: 30%;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(35, 35, 35);
    opacity: 0.8;
    border: 5px solid rgb(0, 255, 115);
    color:rgb(0, 255, 115);
    text-align: center;
}
#deletePlayerPopup button, #updatePlayerPopup button{
    margin-top: 20px;
}
#updatePlayerPopup{
    height: 20%;
}
#newPlayerFormPopup{
    position: fixed;
    top: 15%;
    left: 35%;
    height: 80%;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(35, 35, 35);
    opacity: 0.8;
    border: 5px solid rgb(0, 255, 115);
    color:rgb(0, 255, 115);
    text-align: center;
}
.deletePopupHeader span, .updatePopupHeader span{
    font-size: 30pt;
    margin: 10px;
}
.deletePopupHeader p{
    margin: 10px;
}
.updatePopupInput{
    margin-top: 20px;
}

#newPlayerFormPopup hr{
    border: 1px solid rgb(0, 255, 119);
    margin-bottom: 25px;
}
.endRuler{
    margin-top: 25px;
}
.formHeading{
    font-size: 30pt;
    color: white;
    text-decoration: underline dotted;
    font-weight: bold;
}
.formSubHeading{
    font-size: 15pt;
    color: red;
    font-weight: bold;
}
#formBodyContainer{
    border: 2px dashed white;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
input[type="text"], input[type="date"]{
    width: 55%;
}
input[type="radio"]{
    width: 20px;
}
.lblGenderType{
    color: skyblue;
    font-size: 10pt;
}
input[type="number"]{
    width: 90%;
}
#Age_Handicap{
    display: grid;
    grid-template-columns: 50% 50%;
}

.inputTextBox input{
    min-width: 45px;
    height: 20px;
}
.inputTextBox > label{
    color: rgb(0, 255, 115);
}
.inputTextBox input:focus{
    outline: 0;
}
.inputTextBox.success input{
    border: 2px solid lime;
}
.inputTextBox.error input{
    border: 2px solid red;
    font-weight: bold;
}
.submitButtons{
    font-weight: bold;
    color: white;
}
.cancelbtnDel, .cancelbtn, .cancelbtnUpdate{
    width: 30%;
    font-size: 15pt;
    background-color:#f44336;
}
.submitbtnDel, .submitbtn, .submitbtnUpdate{
    width: 30%;
    font-size: 15pt;
    background-color: #04AA6D;
}
.error {
    color: red;
    font-weight: bold;
}
.cancelbtnDel:hover, .cancelbtn:hover, .cancelbtnUpdate:hover{
    cursor: pointer;
    background-color: #900a00;
    color:white;
    box-shadow: 2px 5px 10px black;
}
.submitbtnDel:hover, .submitbtn:hover, .submitbtnUpdate:hover{
    cursor: pointer;
    background-color: #038555;
    color:white;
    box-shadow: 2px 5px 10px black;
}

#filterOptions{
    visibility: hidden;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.lblFilter{
    color:black;
}
#filterOptions input{
    width: 20px;
    margin-top: 2px;
}
#updateOptions{
    visibility: hidden;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
}
.lblUpdate{
    color:black;
}
#updateOptions input{
    width: 20px;
    margin-top: 2px;
}

#SuccessfulRegPopup{
    position: fixed;
    top: 35%;
    left: 26%;
    height: 50%;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
    border: 5px solid rgb(0, 0, 0);
    color:rgb(0, 255, 115);
    text-align: center;
    /* visibility: hidden; */
  }
  .fullScreenPopupReg{
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  #SuccessfulRegPopup .popupButtons{
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
    bottom: 10%;
    left: 13%;
    width: 80%;
  }
  
  .dismissPopup{
    background-color: rgb(0, 255, 115);
    font-weight: bold;
    width: 80%;
    border-radius: 20px;
    font-size: 15pt;
  }
  .dismissPopup:hover{
    background-color: rgb(0, 108, 32);
    box-shadow: 5px 2px 15px rgb(0, 0, 0);
  }
  .undoReg{
    background-color: rgb(255, 0, 0);
    width: 80%;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15pt;
  }
  .undoReg:hover{
    background-color: rgb(136, 0, 0);
    box-shadow: 5px 2px 15px rgb(0, 0, 0);
  }
